@media screen and (max-width: 1280px) {
	
	div.block {
		width: 70%;
	}

	div.block-header {
		width: 70%;
	}

}

@media screen and (max-width: 1030px) {
	
	div.block {
		width: 80%;
	}

	div.block-header {
		width: 80%;
	}

}

@media screen and (max-width: 845px) {
	
	div.block {
		width: 90%;
	}

	div.block-header {
		width: 90%;
	}

}

@media screen and (max-width: 815px) {
	
	div.right img {
		width: 99%;
	}

	div.left img {
		width: 99%;
	}

	ul.menu-items {
		font-size: 130%;
	}

	div.logo img {
		width: 95%;
	}

}

@media screen and (max-width: 560px) {

	ul.menu-items li {
		margin: 1px;
	}

}

@media screen and (max-width: 470px) {

	ul.menu-items {
		font-size: 15px;
	}

}